@{
    ViewBag.Title = "title";
  
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>jQuery Mobile Test</title>
        <link rel="stylesheet" href="/Content/jquery.mobile-1.3.2.css" /> 
        <link rel="stylesheet" href="/Content/jquery.mobile.theme-1.3.2.css" /> 
        <link rel="stylesheet" href="/Content/jquery.mobile.structure-1.3.2.css" /> 
        <script type="text/javascript" src="/Scripts/jquery-2.0.3.js"></script>
        <script type="text/javascript" src="/Scripts/jquery.mobile-1.3.2.js"></script>
        <script type="text/javascript" src="/Scripts/underscore.js"></script>
        <script type="text/javascript" src="/Scripts/backbone.js"></script>
        <script type="text/javascript" src="/Scripts/kinetic-v4.4.3.js"></script>
        <script type="text/javascript" src="/src/app.js"></script>

        <script type="text/template" id="settings-tpl">
            <input type="text" name="name" id="basic" value="" data-mini="true" />
            <div data-role="fieldcontain">
                <select name="select-choice-1" id="select-choice-1">
                    <option value="standard">Standard: 7 day</option>
                    <option value="rush">Rush: 3 days</option>
                    <option value="express">Express: next day</option>
                    <option value="overnight">Overnight</option>
                </select>
            </div>  
        </script>
        <script type="text/template" id="graph-tpl">
            <div id="stage-container" style="-ms-touch-action:none"></div>
        </script> 
    </head>
    <body>
        <div id="settings-container"></div> 
        <div id="graph-container" style="-ms-touch-action:none"></div>    
    </body>
</html>